<h2>Estemos en contacto...</h2>
<div class="row border border-5 shadow article" id="home">
  <div class="col-7 margin-bottom-none padding-top-small">
    <form action="" method="POST" class="margin-top-small">
      <div class="row">
        <div class="col col-4 padding-none">
            <label for="nombre">Nombre</label>
            <input class="margin-right-small" type="text" name="nombre" placeholder="Name" required="required"/>
        </div>
        <div class="col col-4 padding-none">
            <label for="email">Email</label>
            <input class="margin-right-small" type="email" name="email" placeholder="E-mail" required="required"/>
        </div>
        <div class="col col-4 padding-none">
          <label for="asunto">Asunto</label>
          <input class="margin-right-small" type="text" name="asunto" placeholder="Asunto" required="required"/>
        </div>
      </div>
      <div class="row ">
        <div class="col col-12 padding-none margin-top-small">
          <label for="mensaje">Mensaje</label>
          <textarea class="text-area-form" name="mensaje" placeholder="Tú dirás..." required="required"></textarea>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
    </form>git add
  </div>
  <div class="col-5 col">
    <img class="" src="../../assets/images/bg1.jpg" alt="Gijón">
  </div>
</div>
