/**
FontAwesome and micons
 */
@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");

/*
* Estructura
 */
/* simple use of flex-box to create layout from <div> "grouping" tags. The key is to remember that your CSS layout solution has everything to do with the decisions you make in the HTML  */

.btn-menu{
  margin: 5px;
  width: 200px;
}
button:hover {
  font-weight: bold;
  background-color: #c1c0bd;
}
.card-padding{
  padding: 20px 8px 20px 8px;
}

.activado{
  border-bottom: 5px solid #c1c0bd;
}

#home-icon{
  border: none !important;
}

#img-profile{
  height: 200px;
  width: 200px;
  margin-top: 6px;
  border-radius: 50%;
}

.margin-nav{
  margin-left: 20px;
  margin-right: 20px;
  width: auto !important;
}

h1, h2, h3, h4, h5 {
  display: block;
  margin-top: auto;
  margin-bottom: 0.75em;
}

h4, h5 {
  display: block;
  margin-top: auto;
  margin-bottom: 0;
}

#lista-iconos{
  display: inline-flex;
  list-style: none;
  padding: 0;
}

#lista-iconos ul li::before {
  content: none;
}

.img-redes {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

#img-home{
  width: 100%;
}

.invalid-feedback {
  font-size: small;
  color: crimson;
  padding: 3px;
}

.input-contacto {
  width: 100%;
}

ul#menu-list li{
  list-style-type: none;
}

@media screen and (min-width: 875px) {
  /* Se aplica a resoluciones mayores de 875px */
 .contenedor-principal{
   display: inline-flex;
   justify-content: center;

 }
 .perfil{
   justify-self: flex-start;
   max-width: 25%;
 }
 .contenido{
   justify-self: flex-end;
   max-width: 75%;
 }
}

@media screen and (max-width: 875px) {
  /* Se aplica a resoluciones menores de 875px */
  .contenedor-principal{
    display: inline-table;
  }

  .perfil{
    max-width: 100%;
  }
  .contenido{
    max-width: 100%;
  }
}
