<div class="card border fixed" id="home">
  <article class="article">
    <h1 class="article-title margin-bottom-none margin-top-small"><a href="">Lorem ipsum dolor sit amet</a></h1>
    <p class="article-meta">Fuente: <a href="#">Miguel Fdez</a> - 05/11/2019</p>
    <p class="text-lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>Ut non sodales mauris. Etiam sit amet pharetra neque, et auctor nunc. Nullam fringilla accumsan massa, ut aliquet nisi ultricies et. In consectetur ipsum ac ornare dictum. Cras iaculis risus nisl, at eleifend ex tempor non. Cras sem erat, pulvinar nec ornare ac, laoreet non neque. Sed in risus eget diam iaculis euismod. Maecenas quis volutpat est. Quisque convallis est id augue ullamcorper, nec dignissim felis sollicitudin. Ut id nisi sapien. Ut sed egestas augue, at semper ante.</p>
    <div class="row">
      <a href="#" class="paper-btn">Leer más</a>
    </div>
  </article>
</div>
