<h2>Hello world!</h2>
<div class="row border border-5 shadow article" id="home">
  <div class="col-12 row margin-bottom-none">
    <div class="col-12 col text-left">
      <img id="img-home" class="float-right" src="../../assets/images/bg1.jpg" alt="Gijón">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue volutpat magna, a vulputate erat porta venenatis. Donec tempor arcu eu ultrices posuere. Phasellus pretium blandit iaculis. Duis et nulla justo. Vivamus lectus massa, convallis id ipsum ut, lacinia posuere libero. Mauris semper pretium dui, ut hendrerit libero elementum molestie. Quisque urna augue, semper non varius vitae, convallis eu purus. Quisque in sodales diam. Ut finibus risus turpis, et dictum nibh pharetra ac. Vivamus hendrerit leo ac elit sagittis sodales eget vel sapien. Nam porttitor turpis lorem, sed lacinia mi ornare in.</p>
    </div>
    <a href="#" class="paper-btn margin">Descargar CV</a>
    <a routerLink="/contactar" class="paper-btn margin">Contactar</a>

  </div>
</div>
